{% extends "base.html" %}

{% block title %}About Me - My Personal Profile{% endblock %}

{% block content %}
<h1>About Me</h1>
<p>     Hello, I'm John Le, a passionate Web Developer and Software Engineering Enthusiast currently pursuing a Bachelor of Science in Computer Science at DePaul University. With a focus on Software Development, I have a deep interest in full-stack web applications, robotics, and problem-solving.

    I’m experienced in developing applications using Python, Django, and PostgreSQL, and I love exploring new technologies. Whether it's building responsive websites or creating autonomous robotic systems, I thrive on finding innovative solutions and improving my technical skills.
    
    In addition to my academic journey, I have practical experience leading projects and working with diverse teams, utilizing agile methodologies and collaborating effectively. I also have experience in customer-facing roles, where I honed my communication and problem-solving skills in fast-paced environments.
    
    When I’m not coding, I enjoy learning about emerging tech trends, experimenting with new tools, and sharing my insights through my blog. My goal is to continuously grow as a developer and contribute to meaningful projects that make an impact.
    
    Feel free to explore my projects and connect with me through my website!</p>
{% endblock %}

